
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 bg-dark text-center p-3">
                <span class="m-2"><ion-icon name="logo-facebook" style="font-size: 30px; color:white;"></ion-icon></span>
                <span class="m-2"><ion-icon name="logo-youtube" style="font-size: 30px; color:white"></ion-icon></span>
                <span class="m-2"><ion-icon name="logo-instagram" style="font-size: 30px; color: white;"></ion-icon></span>
                <span class="m-2"><ion-icon name="logo-linkedin" style="font-size: 30px; color: white;"></ion-icon></span>
                <span class="m-2"><ion-icon name="logo-whatsapp" style="font-size: 30px; color: white;"></ion-icon></span>
    
            </div>
        </div>
    </div>
    
    <div class="container-fluid bg-light p-4">
        <div class="row shadow bg-white">
            <div class="col-md-12 col-lg-4 p-5 ">
                <h2>CHRIST COLLEGE</h2>
    <p><i class="fa fa-home"> : </i> 26/4 A, Off Pune Nagar Road, Opposite Weikfield IT Citi Info Park, 26/4A, Nagar Rd, Ramwadi, Wadgaon Sheri, Pune, Maharashtra 411014</p>
    <p><i class="fa fa-phone"> : </i> +91 7823839456, 8432511907</p>
    <p><i class="fa fa-envelope"> : </i> admission@christcollegepune.org</p>
    <p><i class="fa fa-globe"> : </i> https://www.christcollegepune.org</p>
            </div>
            <div class="col-md-12 col-lg-4 p-5 text-justify ">
                <p><b>Vision</b><br>
    Enlighten to Excel<br>
    
    <b>Mission</b><br>
    As a C.M.I. Educational Institution, the college regards education as integral to the formation of the human person for the fulfillment of his/her individual and social responsibilities. The college aims at forming leaders who are intellectually competent, spiritually mature, morally upright, psychologically integrated, physically healthy and socially responsible, individuals who are open to grow and champion the cause of justice, love, truth and peace.</p>
            </div>
            <div class="col-md-12 col-lg-4 p-5 text-center">
                <button class="btn btn-outline-primary w-50 ">RTI</button>
                            <button class="btn btn-outline-primary w-50 mt-3">Library</button>
    
                <button class="btn btn-outline-primary w-50 mt-3">Center</button>
    
                <button class="btn btn-outline-primary w-50 mt-3">Research</button>
    
                <button class="btn btn-outline-primary w-50 mt-3">Admission</button>
    
                <button class="btn btn-outline-primary w-50 mt-3">Course Index</button>
    
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<script>
    AOS.init({duration:2000});
  </script>
</body>
</html>