{% include "user/alu_navbar.html" %}
  
<div class="container-fluid">
	<div class="row justify-content-center p-3">
		
		<div class="col-md-12 col-lg-8">
			{% for i in nss %}
			<div class="card p-3 m-4 shadow">
				<div class="row">
					<div class="col-4 ">
						<img src="/{{i.nsimg}}" height="250px" width="100%">
					</div>
					<div class="col-8 ">
						<p>{{i.nsdate}}</p>
						<h5>{{i.nstitle}}</h5>
						<p>{{i.nsdis}}</p>
 						<button class="btn btn-secondary"><h5>{{i.nors}}</h5></button>
					</div>
				</div>
			</div>
			{% endfor %}

			<div class="card p-3 m-4 shadow">
				<div class="row">
					<div class="col-4 ">
						<img src="https://almashines.s3.dualstack.ap-southeast-1.amazonaws.com/assets/images/campusfeed/1460397_1708491790Q25vpq.jpg" height="250px" width="100%">
					</div>
					<div class="col-8 ">
						<p> Feb 21, 2024</p>
						<h5>
Department of Commerce Alumni Meet 2024</h5>
						<p>The Commerce Department's Alumni Meet was a resounding success, bringing together alumni from diverse backgrounds</p>
 <!-- <p>Christ College-Pune, Pune</p> -->
 <button class="btn btn-secondary"><h5>Alumni Stories</h5></button>
					</div>
				</div>
			</div>

			<div class="card p-3 m-4 shadow">
				<div class="row">
					<div class="col-4 ">
						<img src="https://almashines.s3.dualstack.ap-southeast-1.amazonaws.com/assets/images/campusfeed/1460397_1708057543JXPc50.jpg" height="250px" width="100%">
					</div>
					<div class="col-8 ">
						<p> Feb 16, 2024</p>
						<h5>Department of Science-Alumni Meet 2024</h5>
						<p>17th February 2024,9:00 AM</p>
 <!-- <p>Christ College-Pune, Pune</p> -->
 <button class="btn btn-secondary"><h5>Alumni Stories</h5></button>
					</div>
				</div>
			</div>

			<div class="card p-3 m-4 shadow">
				<div class="row">
					<div class="col-4 ">
						<img src="https://almashines.s3.dualstack.ap-southeast-1.amazonaws.com/assets/images/eventlogos/sizea/14603971702361257.jpg" height="250px" width="100%">
					</div>
					<div class="col-8 ">
						<p> Feb 13, 2024</p>
						<h5>Department of Commerce- ALUMNI MEET 2024</h5>
						<p>Date: 17th Feb, Saturday Time: 11:15 am</p>
 <!-- <p>Christ College-Pune, Pune</p> -->
 <button class="btn btn-secondary"><h5>Alumni Stories</h5></button>
					</div>
				</div>
			</div>

			<div class="card p-3 m-4 shadow">
				<div class="row">
					<div class="col-4 ">
						<img src="https://almashines.s3.dualstack.ap-southeast-1.amazonaws.com/assets/images/campusfeed/1460397_1706865249gT5b7r.jpg" height="250px" width="100%">
					</div>
					<div class="col-8 ">
						<p>
 Feb 02, 2024</p>
						<h5>"Innovate and Elevate"-Session by Mr. Uday Rajput, conducted on 27th January,2024</h5>
						<p>Mr. Uday Rajput conducted a thought-provoking seminar on "Innovate and Elevate" at Christ College Pune for BCom</p>
 <!-- <p>Christ College-Pune, Pune</p> -->
 <button class="btn btn-secondary"><h5>Alumni Stories</h5></button>
					</div>
				</div>
			</div>

			<div class="card p-3 m-4 shadow">
				<div class="row">
					<div class="col-4 ">
						<img src="https://almashines.s3.dualstack.ap-southeast-1.amazonaws.com/assets/images/campusfeed/1460397_1705721554lrUJ1g.jpg" height="250px" width="100%">
					</div>
					<div class="col-8 ">
						<p> Jan 20, 2024</p>
						<h5>Bhasha Utsav</h5>
						<p>Feb 17, 2024 - 11:15 AM</p>
 <p>Christ College-Pune, Pune</p>
 <button class="btn btn-secondary"><h5>Alumni Stories</h5></button>
					</div>
				</div>
			</div>

			<div class="card p-3 m-4 shadow">
				<div class="row">
					<div class="col-4 ">
						<img src="https://almashines.s3.dualstack.ap-southeast-1.amazonaws.com/assets/images/campusfeed/1460397_17053919860kxJ7T.jpg" height="250px" width="100%">
					</div>
					<div class="col-8 ">
						<p>
 Jan 16, 2024</p>
						<h5>Department of Arts-Alumni Meet 2024</h5>
						
 <button class="btn btn-secondary"><h5>Alumni Stories</h5></button>
					</div>
				</div>
			</div>

			

			
		</div>
	</div>
</div>
